@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Sevillana&display=swap');

:root {
    --cor-principal: #164a86;
    --cor-secundaria: #1d5ea8;
    --cor-destaque: #1d8fcc;
}

body {
    font-family: 'Sevillana', sans-serif;
}

h1, h2, h3 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

footer a {
    color: var(--cor-principal);
}

footer a:hover {
    color: var(--cor-destaque);
}